# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=robot_db
DB_USER=postgres
DB_PASSWORD=postgres

# SERVER
PORT=5000
NODE_ENV=development

# MQTT
MQTT_BROKER=mqtt://localhost:1883
MQTT_TOPIC=robot/commands

# CAMERA PROXY
CAMERA_SOURCE_URL=http://127.0.0.1:8080
CAMERA_REQUIRE_AUTH=false

# GPS
GPS_ROBOT_ID=kali-vega-01

# AUTH
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10

# ADMIN SEED
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@robot.local
ADMIN_PASSWORD=Admin@123

REACT_APP_API_URL=http://localhost:5000
REACT_APP_WS_DASHBOARD=ws://localhost:5000/ws/dashboard

